@{
    ViewData["Title"] = "Privacy Policy, Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>
    By using this website, you allow us to 
    <ul>
        <li>
            Use your browser cookies.
        </li>
        <li>
            Store your data in servers appointed by us.
        </li>
        <li>
            Use your data to help this website work better.
        </li>
    </ul>
</p>
<p>
    We may, at any time, and at our sole discretion, modify these Terms and Conditions of Use, including our Privacy Policy, with or without notice to the User. Any such modification will be effective immediately upon public posting. Your continued use of our Service and this Site following any such modification constitutes your acceptance of these modified Terms.
</p>
