@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    By using this website, you allow us to 
    <ul>
        <li>
            Use your browser cookies.
        </li>
        <li>
            Store your data in servers appointed by us.
        </li>
        <li>
            Use your data to help this website work better.
        </li>
    </ul>
</p>
